<h1><%= @list.name %></h1>
<ul class="list-unstyled">
  <% @list.todo_items.each do |todo_item| %>
    <% f.select(todo_item.task) %>
    <li><%= check_box_tag "task[name]", false %><%= todo_item.task %></li>
  <% end %>
</ul>
